<% cache questions do %>
  <% questions.each do |question| %>
    <% cache question do %>
    <div class="w-50 mx-auto card" id="question-card">
      <div class="card-header">
        <h4 class="card-title"><%= question.question %></h4>
      </div>
      <div class="card-body">
        <div>
          <h5>
            Answer Type : 
            <span class="badge badge-pill badge-info">
              &nbsp;
              <%= question.answer_type %>
              &nbsp;
            </span>
          </h5>
          <h5>
            Shown in List : 
            <span class="badge badge-pill badge-info">
              &nbsp;
              <%= question.show_in_list ? "Yes" : "No" %>
              &nbsp;
            </span>
          </h5>
          <% if question.choice? %>
            <h5>
              Choices : 
              <% question.choices.each do |choice| %>
                <span class="badge badge-pill badge-secondary">
                  &nbsp;
                    <%= choice %>
                  &nbsp;
                </span>
              <% end %>
            </h5>
          <% end %>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= link_to  "Edit", edit_question_path(question.id), :class => "btn btn-primary" %>
          <%= link_to "Remove" , question_path(question.id), :method => :delete, :class => "btn btn-danger", :data => {:confirm => "Remove this question?"}, remote: true %>
        </div>
      </div>
      <div class="card-footer text-muted" >
        <small><%= question.created_at %></small>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
