
<% questions.each do |question| %>
  <div class="w-50 mx-auto card" id="question-card">
    <div class="card-header">
      <h4 class="card-title">Question</h4>
    </div>
    <div class="card-body">
      <p class="card-text"><%= question.question %></p>
      <% if not get_answered(current_user.id).include? question.id%>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <% case question.answer_type %>
            <% when 'text' %>
              <input type="text" class="form-control" placeholder="Enter Answer">
            <% when 'numerical' %>
              <input type="number" class="form-control">
            <% when 'choice' %>
              <% if question.show_in_list %>
              <select class="custom-select">
                <option selected>Choose...</option>
                <% question.choices.each do |choice| %>
                  <option><%= choice %></option>
                <% end %>
              </select>
              <% else %>
              <% end%>
            <% else %>
              <input type="text" class="form-control" placeholder="WIP" readonly>
            <% end %>
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <% else %>
        <div class="btn-group dropright" id="question-options">
          <button type="button"  class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            :
          </button>
          <div class="dropdown-menu">
            <button type="button" class="dropdown-item" id="modal-button" data-toggle="modal" data-target="#edit-modal">
              Edit
            </button>
            <%= link_to "Remove" , answer_path(get_answer(question.id).id), :method => :delete, :class => "dropdown-item", :data => {:confirm => "Remove this answer?"}, remote: true %>
          </div>
        </div>
        <div>
          <h5>
            You : 
            <span class="badge badge-info">
              &nbsp;
              <%= get_answer(question.id).answer %>
              &nbsp;
            </span>
          </h5>
        </div>
      <% end%>
    </div>
    <div class="card-footer text-muted" >
      <small><%= question.created_at %></small>
    </div>
  </div>
<% end %>
