<% if policy(:application).show? %>
  <div>
    <button type="button" class="btn btn-outline-primary btn-lg" id="question-add-button" data-toggle="modal" data-target="#add-question-modal"><%= t('.add_question')%></button> 
  </div>
  <div class="questions-admin-div">
    <%= render partial: "admin", locals: { questions: questions(current_user.id, answered = nil) }%>
  </div>
  <% if questions(current_user.id, answered = nil).length > 0 %>
    <div class="paginator-admin">
      <%= paginate questions(current_user.id, answered = nil), :remote => true %>
    </div>
  <% else %>
    <h3 class="text-muted"> 
      <p class="text-center">
        <%= t('.empty') %>.
      </p>
    </h3>
  <% end %>
<% else %>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-unanswered-tab" data-toggle="tab" href="#nav-unanswered" role="tab" aria-controls="nav-unanswered" aria-selected="true"><%= t('.unanswered') %></a>
    <a class="nav-item nav-link" id="nav-answered-tab" data-toggle="tab" href="#nav-answered" role="tab" aria-controls="nav-answered" aria-selected="false"><%= t('.answered') %></a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-unanswered" role="tabpanel" aria-labelledby="nav-unanswered-tab">
    <div class="questions-unanswered-div">
      <%= render partial: 'question', locals: {questions: questions(current_user.id, answered = false), user_id: current_user.id} %>
    </div> 
    <% if questions(current_user.id, answered = false).length > 0 %>
      <div class="paginator-unanswered">
        <%= paginate questions(current_user.id, answered = false), :remote => true, :param_name => 'page_u' %>
      </div>
    <% else %>
      <h3 class="text-muted"> 
        <p class="text-center">
          <%= t('.empty') %>.
        </p>
      </h3>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-answered" role="tabpanel" aria-labelledby="nav-answered-tab">
    <div class="questions-answered-div">
      <%= render partial: 'question', locals: {questions: questions(current_user.id, answered = true), user_id: current_user.id} %>
    </div> 
    <% if questions(current_user.id, answered = true).length > 0 %>
      <div class="paginator-answered">
        <%= paginate questions(current_user.id, answered = true), :remote => true, :param_name => 'page_a' %>
      </div>
    <% else %>
      <h3 class="text-muted"> 
        <p class="text-center">
          <%= t('.empty') %>.
        </p>
      </h3>
    <% end %>
  </div>
</div>

<%end%>

<div class="modal" id="add-question-modal" tabindex="-1" role="dialog" aria-labelledby="add-question-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t('.add_question')%></h5>
      </div>
        <%= render 'form', question: Question.new %>
    </div>
  </div>
</div>