<%= form_with model: equipment, id: "test" do |f| %>
<div class="modal-body">
    <div class="form-group">
      <%= f.label :name %>: 
      <%= f.text_field :name, type:"text", class:"form-control", id: "name", required: true, maxlength: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :equipment_type %>: 
      <%= f.select(:equipment_type, Equipment.equipment_types.map {|key, value|  [key.titleize,key] }, { include_blank: 'Choose...' }, { class: "selectpicker form-control", required: true }) %>
    </div>
    <div class="form-group">
      <%= f.label :status %>: 
      <%= f.select(:status, Equipment.statuses.map {|key, value|  [key.titleize,key] }, { include_blank: 'Choose...' }, { class: "selectpicker form-control", required: true }) %>
    </div>
    <div class="form-group">
      <label for="user">Assigned User</label>: 
      <%= f.select(:user_id, User.select(:id, :name).where.not(role: 1).map {|user|  [user.name,user.id] }, { include_blank: 'Choose...' } , { class: "selectpicker form-control", "data-dropup-auto" => false, "data-live-search" => true, id:"user", required: true } ) %>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal"><%= t('close') %></button>
  <%= f.submit t('submit'), class:"btn btn-primary"%>
</div>
<% end %>