<% if policy(:application).show? %>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-equipments-tab" data-toggle="tab" href="#nav-equipments" role="tab" aria-controls="nav-equipments" aria-selected="true"><%= t('.all') %></a>
      <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false" onclick="return drawChart()"><%= t('.reports') %></a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
<% end %>
<% if policy(:application).show? %>
  <div class="button-container">
    <button type="button" class="btn btn-outline-primary btn-lg w-25 mx-auto" data-toggle="modal" data-target="#addEquipment"><%= t('.add_equipment')%></button> 
  </div>
  <div class="tab-pane fade show active" id="nav-equipments" role="tabpanel" aria-labelledby="nav-equipments-tab">
<% else %>
    <div class="content">
<% end %>
      <div class="main-container">
        <%= render partial: "equipment", locals: { equipments: get_equipment() } %>
      </div>

      <div class="paginator">
        <%= paginate get_equipment(), :remote => true %>
      </div>
    </div>

<% if policy(:application).show? %>
    <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
      <%= render  "report" %>
    </div>
  </div>
<% end %>

<div class="modal fade" data-equipment-id="<%=current_user.id%>" id="addEquipment" tabindex="-1" role="dialog" aria-labelledby="addEquipmentTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= t('.add_equipment') %></h5>
      </div>
        <%= render 'form', equipment: Equipment.new %>
    </div>
  </div>
</div>

<div class="modal fade" id="editEquipment" tabindex="-1" role="dialog" aria-labelledby="editEquipmentTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= t('.edit_equipment')%>
        </h5>
      </div>
      <div id="edit-modal-content"></div>
    </div>
  </div>
</div>