<%= form_with model: user, html: { multipart: true }, id: "test" do |f| %>
  <div class="modal-body"> 
      <div class="form-group">
        <%= f.label :name %>: 
        <%= f.text_field :name, type:"text", class:"form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :picture %>:
        <%= f.file_field :picture %>
      </div>
      <div class="form-group">
        <%= f.label :email %>: 
        <%= f.text_field :email, type:"email", class:"form-control", required: true %>
      </div>
      <% if policy(:application).show? && !edit_profile_flag %>
        <div class="form-group">
          <%= f.label :role %>: 
          <%= f.select(:role, User.roles.map {|key, value|  [key.titleize,key] }, { include_blank: 'Choose...' }, { class: "form-control", required: true }) %>
        </div>
        <div class="form-group">
        <%= f.label :password %>: 
        <%= f.text_field :password, type:"password", class:"form-control", required: user.id.nil? %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>: 
        <%= f.text_field :password_confirmation, type:"password", class:"form-control", required: user.id.nil? %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal"><%= t('close') %></button>
    <%= f.submit t('submit'), class:"btn btn-primary"%>
  </div>
<% end %>