<%= form_for(user, html: { multipart: true }, remote: true) do |f| %>
<div id="profile_form_alert"></div>
<div class="modal-body"> 
    <%= f.hidden_field :id, value: user.id.nil? ? 0 : user.id %>
    <%= f.hidden_field :authenticity_token, value: form_authenticity_token, id: "user_authenticity_token" %>
    <% if user.id == current_user.id %>
      <%= f.hidden_field :edit_profile, value: true %>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>: 
      <%= f.text_field :name, type:"text", class:"form-control", required: true, maxlength: 40 %>
    </div>
    <div class="form-group">
      <label for="picture-uploader">Picture:</label>
      <div class="custom-file" id="picture-uploader">
        <%= f.file_field :picture, class: "custom-file-input", accept: 'image/png,image/jpeg' %>
        <label for="custom-file" class="custom-file-label">Choose Image (jpeg/png format only)</label>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email %>: 
      <%= f.text_field :email, type:"email", class:"form-control", required: true, maxlength: 40, aria: { "describedby" => "emailHelp"} %>
      <small id="emailHelp" class="form-text text-danger"></small>
    </div>
    <% if policy(:application).show? && !edit_flag %>
      <div class="form-group">
        <%= f.label :role %>: 
        <%= f.select(:role, User.roles.map {|key, value|  [key.titleize,key] }, { include_blank: 'Choose...' }, { class: "form-control", required: true }) %>
      </div>
      <div class="form-group">
        <%= f.label :password %>: 
        <%= f.text_field :password, type:"password", class:"form-control", required: true %>
      </div>
    <% else %>
      <% if user.id == current_user.id %>
        <div class="form-group">
          <%= f.label :current_password, "Current Password" %>: 
          <%= f.text_field :current_password, type:"password", class:"form-control", required: !edit_flag, aria: { "describedby" => "currentPasswordHelp"}%>
          <small id="currentPasswordHelp" class="form-text text-danger"></small>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :password, "New Password" %>: 
        <%= f.text_field :password, type:"password", class:"form-control", required: !edit_flag, disabled: user.id.eql?(current_user.id), minlength: User.password_length.min %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :password_confirmation %>: 
      <%= f.text_field :password_confirmation, type:"password", class:"form-control", required: !edit_flag, aria: { "describedby" => "confirmPasswordHelp"}, disabled: true, minlength: User.password_length.min %>
      <small id="confirmPasswordHelp" class="form-text text-danger"></small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal"><%= t('close') %></button>
    <%= f.submit t('submit'), class:"btn btn-primary"%>
  </div>
<% end %>