
  <% users.each do |user| %>
    
      <div class="card text-white bg-info m-4" id="card">
        <div class="card-header">
          <%= image_tag user.picture.url(:small), class: "card-image" %>
          <%= user.name.length > 19 ? user.name[0,17]+"..." : user.name %>
          <% if user.id != current_user.id %>
            <div class="btn-group dropright" id="options">
              <button type="button"  class="btn btn-outline-info btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
                :
              </button>
              <div class="dropdown-menu" >
                <% if user.user? %>
                  <%= link_to t('.show_answers') , summary_path(user_id: user.id), :class => "dropdown-item"%>
                <% end %>
                <%= link_to t('edit') , edit_user_path(user.id), :class => "dropdown-item"%>
                <%= link_to t('remove') , user_path(user.id), :method => :delete, :class => "dropdown-item", :data => {:confirm => "Remove this user?"}, remote: true %>
              </div>
            </div>
          <% end %>
        </div> 
        <div class="card-body">
          <h4>
            <%= t('.role') %> : 
            <span class="badge badge-pill badge-dark">
              &nbsp;
              <%= user.role.titleize%>
              &nbsp;
            </span>
          </h4>
          <h4>
            Email : 
            <span class="badge badge-pill badge-dark">
              &nbsp;
              <%= user.email.length > 20 ? user.email[0,18]+"..." : user.email %>
              &nbsp;
            </span>
          </h4>
        </div>
      </div>
    
<% end %>

<% if users.last_page? %>
<a href="#" class="card text-white bg-info m-4" id="card" data-toggle="modal" data-target="#addUser">
  <div class="card-body" id="card-add">
    <p>
      +<br>
      <%= t('.add_user') %>
    </p>
  </div>
</a>
<% end %>