<div class="main-container">
  <%= render 'user', users: get_users() %>
</div>

<div class="paginator">
  <%= paginate get_users(), :remote => true %>
</div>

<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= t('.add_user')%>
        </h5>
      </div>
        <%= render 'form', user: User.new %>
    </div>
  </div>
</div>

<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= t('.edit_user')%>
        </h5>
      </div>
      <div id="edit-modal-content"></div>
    </div>
  </div>
</div>