<div class="profile" >
  <div class="profile-header">
    <%= image_tag current_user.picture.url(:medium), class: "profile-picture" %>
    <div class="profile-texts">
      <h2>
        <%= current_user.name %>
      </h2>
      <h3>Account Role: <%= current_user.role.titleize %></h3>
      <h3 class="text-muted">Member since <%= current_user.created_at.localtime.to_s[0,10] %></h3>
      <%= link_to  t('.edit_profile'),  "#", { class: "btn btn-primary", "data-toggle" => "modal", "data-target" => "#editProfile"}%>
    </div>
    <div class="profile-location">
      <h2>Location: </h2>
      <%= image_tag  "https://image.maps.api.here.com/mia/1.6/mapview?app_id=#{ENV["APP_ID"]}&app_code=#{ENV["APP_CODE"]}&ctr=#{current_user.latitude},#{current_user.longitude}&poi=#{current_user.latitude},#{current_user.longitude}&z=15&poithm=1&w=360&h=280
      ", alt: "Map" %> 
      <h4 class="text-muted">
        <%= current_user.latitude.to_s+", "+current_user.longitude.to_s %>
      </h4>
    </div>
  </div>

  <div style="width: 640px; height: 480px" id="mapContainer"></div>
  <script type="text/javascript" charset="utf-8">
    
    var platform = new H.service.Platform({
    'apikey': "<%= ENV["API_KEY"]%>"
    });

    var maptypes = platform.createDefaultLayers();

    var map = new H.Map(
    document.getElementById('mapContainer'),
    maptypes.vector.normal.map,
    {
      center: { lng: <%= current_user.longitude.to_s %>, lat: <%=current_user.latitude.to_s%> },
      zoom: 15,
      pixelRatio: window.devicePixelRatio || 1
    });

    window.addEventListener('resize', () => map.getViewPort().resize());
    
    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    var ui = H.ui.UI.createDefault(map, maptypes);
  </script>

</div>

<% if user_signed_in? %> 
  <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog" role="document">
      <div class="modal-content" id="edit-modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <%= t('.edit_profile')%>
          </h5>
        </div>
        <%= render partial: 'form', locals: { user: current_user, edit_flag: true} %>
      </div>
    </div>
  </div>
<% end %>