<%= render "devise/shared/error_messages", resource: resource %>
<div class="center-box">
  <h2 id="center-h2">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="form-group w-25 mx-auto">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", maxlength: 50 %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"btn btn-primary w-25" %>
    </div>
  <% end %>
  <div class="login-items">
    <%= render "devise/shared/links" %>
  </div>
</div>