<% if user_signed_in?%>
  <% if policy(:application).show?%>
    <h2><%= t('.shown_in_list_questions' )%></h2>
    <div class="container">
      <%= render partial: "show-in-list" , locals: { questions: get_show_in_list_questions()}%>
    </div>
    <div class="index-paginator">
      <%= paginate get_show_in_list_questions(), :remote => true %>
    </div>
  <% else %>
    <div id="user-index">
      <%= image_tag current_user.picture.url(:medium) %>
      <h2> 
        <%= t('.hello') %> <%= current_user.name%>! <%= t('.the_date_today') %>
      </h2>
      <h3 class="text-muted">
        <%= react_component "Clock" %>
      </h3>
    </div>
  <% end %>
<% else %>
  <div class="index-div">
    <div class="jumbotron">
        <h1 class="display-4"><%= t('.welcome') %></h1>
        <p class="lead"><%= t('.a_simple_system') %></p>
        <a class="btn btn-primary btn-lg" href="https://github.com/austin-uy/officeman" role="button"><%= t('.learn_more') %></a>
    </div>
    <div class="teamwork">
      <%= inline_svg "teamwork.svg", height: "300" %> 
    </div>
  </div>

  <div class="bottom-div">
    <hr>
    <small></small>
  </div>
<% end %>