<!DOCTYPE html>
<html>
  <head>
    <title>Officeman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" id="nav-color">
        <%= link_to(home_path,class: "navbar-brand") do%>
          <%= inline_svg "officeman_logo.svg", height: "40" %>
        <% end %>
        <% if user_signed_in? %> 
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to t('.home'), home_path, class: "nav-link" %>
            </li>
            <% if policy(:application).show? %>
              <li class="nav-item">
                <%= link_to t('.user'), users_path, class: "nav-link" %>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to t('.question'), questions_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('.equipment'), equipment_index_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-header" style="display:flex;">
                    <%= image_tag current_user.picture.url(:small) %>
                    <div id="dropdown-header-name">
                      <h6><%= current_user.name %></h6>
                      <small class="text-muted"><%= current_user.role %></small>
                    </div>
                  </div>
                  <%= link_to  t('.edit_profile'),  "#", { class: "dropdown-item", "data-toggle" => "modal", "data-target" => "#editProfile" }%>
                  <% if policy(:application).show? %>
                    <%= link_to t('.dashboard'), admin_root_path, class: "dropdown-item" %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </div>
            </li>
          </ul>
        <% elsif request.env['PATH_INFO'].eql? home_path %>
          <div class="w-75 text-right">
            <%= button_to t('.login'), new_user_session_path, method: :get, class: "btn btn-outline-light", id: "login" %>
          </div>
        <% end %>
      </nav>
    </header> 
    <main class='<%= controller.controller_name %>'>
      <% if notice %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <% if user_signed_in? %> 
      <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog" role="document">
          <div class="modal-content" id="edit-modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                <%= t('.edit_profile')%>
              </h5>
            </div>
            <%= render 'users/form', user: current_user %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
