<!DOCTYPE html>
<html>
  <head>
    <title>Officeman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" id="nav-color">
        <%= link_to(home_path,class: "navbar-brand") do%>
          <%= inline_svg "officeman_logo.svg", height: "40" %>
        <% end %>
        <% if user_signed_in? %> 
          <ul class="navbar-nav">
            <% if policy(:application).show? %>
              <li class="nav-item">
                <%= link_to(users_path,class: "nav-link") do%>
                  User
                <% end %>
            </li>
            <% end %>
            <li class="nav-item">
              <%= link_to(questions_path,class: "nav-link") do%>
                Question
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(equipment_index_path,class: "nav-link") do%>
                Equipment
              <% end %>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-header">
                    <%= image_tag current_user.picture.url(:thumb) %>
                    <%= current_user.name %>
                  </div>
                  <%= link_to  "Edit Profile",  profile_path, class: "dropdown-item" %>
                  <a class="dropdown-item" href="#">Settings</a>
                  <% if policy(:application).show? %>
                    <a class="dropdown-item" href="#">Dashboard</a>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item") do %>
                    Logout
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        <% else %>
          <div class="w-75 text-right">
            <%= button_to(new_user_session_path, class: "btn btn-outline-light", id: "login") do %>
              Login
            <% end %>
          </div>
        <% end %>
      </nav>
    </header> 
    <main class='<%= controller.controller_name %>'>
      <% if notice %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
